.nav ul {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 list-style-type: none;
 font-size: 2rem;
 background-color: transparent;
 margin: 0 20px;
}

body,html {
    /* background-color: rgba(7, 7, 221, 0.821); */
    background: url("https://img.freepik.com/free-photo/pastel-acrylic-abstract-background-vector_53876-102998.jpg?w=1480&t=st=1696420092~exp=1696420692~hmac=0e21ee4ee89ab6bc6e251e33803c331fbcc657a217547de9cd1fb39c1207709b") center center no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
}



